$primary: #1f1f1f; 

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.body{
  margin: 0; 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
}
.header__wrapper{
background-color:#0b1419 ;
}
.wrapper{
  max-width: 128rem;
  margin: 0 auto;
}

.header{
  position: sticky;
  top: 0;
  left: 0;
  background-color:#0b1419 ;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.6rem;
}

.menu{
  display: flex;

  &__item{
    margin-left: 40px;
    padding: 10px;
    &--border{
      border: 5px solid white;
      border-radius: 70px 70px 70px 70px / 75px 75px 75px 75px;
    }
  }
  &__link{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 900;
    font-family: "Montserrat";
  }
}

// ************ section__top ******************************

.section-top{
  background-image: url(../img/section/section-top__bg-img.png);
  background-repeat: no-repeat;
  height: 84rem;
  background-position:center;
  background-size: cover;
  position: relative;
 
}

.section-top__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27rem 39rem;
}
.section-top__subtitle{
  font-size: 2.4rem;
  color: #fcff00;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  z-index: 6;
}
.section-top__title{
  font-size: 5.5rem;
  line-height: 72px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 4rem;
}
.section-top__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn{
  display: block;
  background-color:#ff5441;
  filter: drop-shadow(0 0 19px #d44232);
  align-self: center;
  padding:2rem 7.8rem;

  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  font-family: "Montserrat";
  letter-spacing: 0.05rem;

  border-radius: 70px 70px 70px 70px / 75px 75px 75px 75px;
}

 // ----------------section-catalog -----------

 .section-catalog__title{
   margin-top: 12rem;
   font-size: 48px;
   color: #ffa650;
   font-weight: 900;
   font-family: "Montserrat";
   text-align: center;
 }
 .calatog-nav__wrapper{
  display: flex;
  justify-content: center;
  margin-top: 4.2rem;
 }
 
 .catalog-nav__btn{
   padding: 0;
  border: none;
  background-color: #ffffff;
  filter: drop-shadow(0px 2px 10px rgba(0,0,0,0.05));

  font-size: 1.8rem;
  color: #e6e6e6;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  min-width: 15rem;
  height: 4.5rem;
  &:hover{
    background-color:black;
  }
}
.catalog-nav__item{
  filter: drop-shadow(0px 4px 20px rgba(0,0,0,0.09));
  &+.catalog-nav__item{
    border-left: 1px solid #e6e6e6;
    }

  &:first-child > .catalog-nav__btn {
    border-radius: 70px 0px 0px 70px / 75px 75px 75px 75px;
    }  
  &:last-child > .catalog-nav__btn{
    border-radius: 0px 70px 70px 0px / 75px 75px 75px 75px;
  }
}


// **************catalog*****************
.catalog{
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__item{
  width:calc(100%/3);
  margin-bottom: 9rem ;
}
.product{
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding: 0 0.5rem;
}
.product__content{
  margin-top: 3rem;
}
.product__img{
  align-self: center;
}
.product__title{
  font-size: 2.2rem;
  color: #1f1f1f;
  font-weight: 900;
  font-family: "Montserrat";
}
.product__text{
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #9f9f9f;
  font-weight: 300;
  font-family: "Roboto";
}
.product__footer{
margin-top: 3.5rem;
}
.product__sizes{
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "Montserrat";

  padding: 1rem;
  width: 100%;

  display: flex;
  overflow: hidden;

}
.product__size{
  flex-grow: 1;
  padding: 0;

  border:none;
  border-radius:21px;
  padding: 1rem 0;
  background-color:#fff;
  color:#e6e6e6;
  &:hover{
    color:#a2a2a2;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.2)
  }
 
}


.product__bottom{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.product__price{
  display: flex;
  align-items: center;
}

.product__price-value{
  font-size: 2.2rem;
  color: #1f1f1f;
  font-weight: 900;
  font-family: "Montserrat";
}
.product__btn{
  background-color:#ffa650;
  padding:1.8rem 6.4rem ;
  filter:none;
}

//---------------- about_us ------------------

.section-about{
  background-image: linear-gradient(0deg, #2b2b2b 0%, #1f1f1f 100%);
  height: 43.8rem;
  display: flex;
  max-width: 192rem;
  margin: 0 auto;
}

.section-about__img{
  width: 50%;
  height: 100%;
}
.section-about__container{
  margin-top: 14rem;
  justify-self: end;
}
.section-about__content{
  padding-left: 9.5rem;
  padding-right: 23rem;
}
.section-about__title{
  font-size: 4.8rem;
  line-height: 3rem;
  color: #ffffff;
  font-weight: 900;
  font-family: "Montserrat";
}

.section-about__text{
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto";
}


//---------------- Contacts ------------------

.section-contacts {
  overflow: hidden;
}

.section-contacts__container {
  position: relative;
}

.section-contacts__container::before {
  content: '';
  position: absolute;
  background: url(../img/tomato.png) no-repeat;
  background-size: cover;
  width: 672px;
  height: 397px;
  right: -350px;
  bottom: -100px;
}

.sectoin-contacts__title {
  margin-bottom: 0;
}

.contacts {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__start {
  width: 50%;
}

.contacts__end {
  width: 50%;
  padding-left: 30px;
}

.contacts__map {
  height: 450px;
  background: #fef0b4;
}

.contacts__item {
  margin-bottom: 35px;
}

.contacts__item:last-of-type {
  margin-bottom: 0;
}

.contacts__title {
  margin: 0 0 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.contacts__text {
  margin: 0;
  font-size: 18px;
}

.contacts__phone {
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}

.contacts__phone:hover {
  color: #ffa650;
}

.socials__icon{
  fill: red;
}

@media (max-width: 1800px) {
  .section-contacts__container::before {
    right: -250px;
  }
}

@media (max-width: 1600px) {
  .section-contacts__container::before {
    right: -150px;
    bottom: -200px;
  }
}

@media (max-width: 1400px) {
  .section-contacts__container::before {
    right: -100px;
  }
}

@media (max-width: 1300px) {
  .section-contacts__container::before {
    right: -50px;
  }
}

@media (max-width: 1200px) {
  .section-contacts__container::before {
    content: none;
  }
}

@media (max-width: 992px) {
  .contacts__map {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .section-contacts {
    padding-bottom: 0;
  }

  .contacts__start {
    width: 100%;
    order: 1;
  }

  .contacts__end {
    width: 400px;
    max-width: 100%;
    margin-bottom: 40px;
    padding-left: 0;
  }

  .contacts__map {
    margin: 0 -20px;
    height: 300px;
  }


}

/* socials start */
.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.socials__item {
  margin-right: 7px;
}

.socials__link {
  display: inline-block;
}

.socials__icon {
  fill: #ffa650;
  width: 35px;
  height: 35px;
  transition: fill .2s, opacity .2s;
}

.socials__icon--vk:hover {
  fill: #5078A5;
}

.socials__icon--fb:hover {
  fill: #3E58A1;
}

.socials__icon--inst:hover {
  fill: #E6369C;
}

.socials__icon:active {
  opacity: .7;
}

.socials__logo {
  fill: #fff;
}

@media (max-width: 767px) {
  .socials__item {
    margin-right: 15px;
  }

  .socials__icon {
    width: 45px;
    height: 45px;
  }
}
/* socials end */

/************* popup *****************/

.popup__close{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &::before{
    content:"";
    position: absolute;
    top: -43px;
    left: 286px;
    width:4.5rem;
    height: 2px;

    background-color:#d2d2d2;
    transform: rotate(45deg);
    
  }
  &::after{
    content:"";
    position: absolute;
    top: -43px;
    left: 286px;
    width:4.5rem;
    height: 2px;
    background-color:#d2d2d2;
    transform: rotate(-45deg);
  }
  :hover{
    transform: scale(1.2);
  }
}

.popup{
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  position: fixed;
  background-color:rgba(0,0,0,0.7);
  z-index:10;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}
.popup__wrapper{
  display: table;
  height: 100%;
  width: 100%;
}
.popup__inner{
  display: table-cell;
  vertical-align: middle;
}


.popup__content{
  background-color:#fff;
  padding: 2rem;
  max-width: 73rem;
  max-height: 57rem;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.popup__item{
  font-size: 2.4rem;
  color: #1f1f1f;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 5rem;
}

.popup__content{
  padding: 8rem 0 12rem 0;
}


.popup__telefon{
  font-size: 1.6rem;
  color: #1f1f1f;
  font-weight: 900;
  font-family: "Montserrat";

  margin-top: 5rem;
  color:#ffa650;
  padding: 10px;
  border: 5px solid #ffa650;
  border-radius: 70px 70px 70px 70px / 75px 75px 75px 75px;
  margin-bottom: 4rem;
}

.is-active{
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}
/************* popup end *****************/